<app-filho
  [showBtn]="showBtnFilho"
  (enviarNovoTituloAoPai)="metodoQueRecebeDoPaiParaMudarTitulo($event)"
  [lista]="listFilho"
></app-filho>

<h3 class="titulo-h3">{{ titulo }}</h3>

<div>
  <input type="text" (change)="consultarCep($event)" />
</div>

<br />
<br />
<hr />
<br />
<br />
<input type="text" [(ngModel)]="valorDoCep" />
<button type="button" (click)="consultarCepBtn()">consultar cep</button>

<br /><br />

<div>VALOR DO CEP: {{ valorDoCep }}</div>
{{ this.retornoJson | json }}
